terraform {
  required_version = "~> 1.6"

  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.22.0"
    }
  }

#  backend "local" {
#    path = "./terraform.tfstate"
#  }
  backend "s3" {
    key = "terraform.tfstate"

    bucket   = "terraform-github-oidc-setup"
    region   = "us-east-1"
    role_arn = "arn:aws:iam::%account_id%:role/%role_name%"
  }
}

locals {
  account_id = var.account_id
  role_name = var.role_name
}

provider "aws" {
  region = var.region

  assume_role {
    role_arn = "arn:aws:iam::%account_id%:role/%role_name%"
  }
}