terraform {
  required_version = "~> 1.6"

  required_providers {
    google = {
      source  = "hashicorp/google"
      version = "~> 5.3.0"
    }
  }

  backend "gcs" {
    bucket = "%tfstate_bucket_name%"
    prefix = "%tfstate_bucket_prefix%"
  }
}

provider "google" {
  project = "%project_id%"
  region  = "%region%"
}

locals {
  tags = {
    Project = "%project_id%"
  }
}